.post-details-page {
  padding-top: 20px;
}

.post-details-first-row {
  justify-content: space-between;
}

.full-screen-button-and-image,
.post-title-and-details-container {
  width: 45%;
}

.full-screen-button-and-image {
  align-items: center;
}

.full-screen-button {
  align-self: flex-end;
  background: none;
  border: 0;
  cursor: pointer;
}

.post-details-page-image-and-caption-container {
  align-items: center;
}
