.post-details-page {
  gap: 40px;
  padding-top: 20px;
}

.post-details-first-row {
  justify-content: space-between;
}

.full-screen-button-and-image,
.post-title-and-details-container {
  width: 45%;
}

.full-screen-button-and-image {
  align-items: center;
}

.full-screen-button {
  align-self: flex-end;
  background: none;
  border: 0;
  cursor: pointer;
  margin-bottom: 10px;
}

.post-details-page-image-and-caption-container {
  align-items: center;
}

.post-details-second-row {
  margin-bottom: 42vw;
  position: relative;
}

.google-maps-widget {
  height: 42vw;
  position: absolute;
  right: 0;
  width: 42vw;
}

.post-details-page .post-control-buttons {
  justify-content: flex-end;
  margin-bottom: 20px;
}
