.carousel.flex-row {
  align-items: center;
  justify-content: center;
  margin: 50px 0;
  padding: 0 10vw;
  width: 100%;
}

.gallery.flex-row {
  align-items: center;
  gap: 2vw;
  justify-content: space-between;
  width: 100%;
}

.carousel-tile-container {
  align-items: center;
  font-size: 0.8rem;
  height: 30vw;
  width: 30vw;
}

.carousel-tile-container:hover {
  cursor: pointer;
}

.carousel-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.carousel-button {
  border: none;
  background: transparent;
  font-size: 2.5rem;
}
