.carousel.flex-row {
  align-items: center;
  justify-content: center;
}

.carousel-img-container {
  height: 200px;
  width: 200px;
}

.carousel-img {
  object-fit: contain;
  height: 100%;
  width: 100%;
}
