.title-and-details-container {
  gap: 40px;
}

.link-to-photographer {
  color: var(--accent-blue-dark);
  cursor: pointer;
}

.post-credit-and-date > .link-to-photographer {
  margin: 0 0.3em;
}

.description {
  margin: 20px 0 100px;
  padding-right: 5vw;
}

.post-location-and-part-of-day {
  width: 100%;
}

.part-of-day {
  margin-right: 5vw;
}
