.title-and-details-container {
  gap: 40px;
}

.link-to-photographer {
  color: var(--accent-blue-dark);
  cursor: pointer;
}

.post-credit-and-date > .link-to-photographer {
  margin: 0 0.3em;
}

.description {
  margin: 20px 0;
  padding-right: 5vw;
}
