.homepage-content {
  align-items: center;
  gap: 40px;
  height: 80vh;
  left: 0;
  padding-top: 75px;
  position: fixed;
  overflow: scroll;
  right: 0;
  top: 0;
  z-index: -999;
}

.hero-img-container {
  height: 75vh;
  width: 100%;
}

.hero-img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.title {
  align-items: center;
  width: 100%;
}

.homepage-content > .carousel.flex-row {
  height: 100%;
  margin: 50px 0;
  width: 100%;
}
