.our-mission-container {
  background-image: url("https://local-wild-images.s3.us-east-1.amazonaws.com/whale.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom center;
  padding: 300px 0;
  position: relative;
  width: 100vw;
  z-index: -9999;
}

.our-mission-text {
  bottom: 8%;
  color: white;
  padding-left: 65vw;
  position: absolute;
  right: 30px;
  text-align: right;
}

.our-mission-header {
  font-size: 2rem;
  margin-bottom: 0.25em;
}
