.nav-bar {
  align-items: center;
  background-color: black;
  color: white;
  height: var(--header-height);
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
}

.logo-text {
  font-family: cursive;
}

.new-post-button {
  margin-right: 15px;
}
